body {
  background-color: antiquewhite;
}

/* main container */
#container {
  /* border: 2px solid black; */
  display: flex;
  gap: 4px;
  padding: 4px;
  flex-wrap: wrap;
  background-color:burlywood;
}

/* image and respective container */
.willow-div {
  /* border: 1px solid black; */
  display: flex;
  /* background-color: blanchedalmond; */
  align-items: center;
}

img {
  display: block;
  /* padding: 4px 4px 4px 4px; */
}

/* hiragana container and content */
#hiragana-container {
  /* border: 1px solid black; */
  display: flex;
  flex: 1;
  gap: 4px;
  /* padding: 4px; */
  flex-wrap: wrap;
  /* background-color: black; */
  align-items: center;
}

.hiragana {
  /* border: 1px solid black; */
  display: flex;
  flex: 1;
  background-color: antiquewhite;
}

ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: max-content;
}

li {
  font-size: 20px;
  background-color: burlywood;
  margin: 4px;
  padding: 2px; 
  width: fit-content;
}

.letter-eng {
  color: burlywood;
}

.letter-eng:hover {
  color: black;
  cursor: none;
}
